* {
  margin: 0;
  padding: 0;
}

html, body, #root, .block {
  /* height: 100%; */
}

.color-box {
  width: 100px;
  height: 100px;
  border: 1px solid #ccc;
}

.color-box.peach {
  background-color: #fceeb6;
}
.color-box.sea {
  background-color: #a2ccb6;
}
.color-box.sand {
  background-color: #ee786e;
}