.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 25px;
}
.header__title {
    line-height: 1;
}
.todolist-form {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0 30px;
}
.todolist-form__date {
    margin-right: 30px;
    padding: 10px 19px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: var(--color-grayBg);

    line-height: 20px;
    cursor: pointer;
    transition: .3s;
}
.todolist-form__date:active {
    border: 1px solid var(--color-dark);
}
.todolist-form__date:focus {
    border: 1px solid var(--color-dark);
}
.todolist-form_important {
    margin: 0 40px;
}
.todolist-form__input {
    width: 400px;
}
.todolist-form_button {
    cursor: pointer;
}

.main {
    display: flex;
    flex-grow: 1;
}
.sidebar {
    width: 100%;
    max-width: 220px;
}
.todolist__tasks {
    width: 100%;
    padding: 0 40px 30px;
    background-color: var(--color-grayBg);
}
.search {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.search__input {
    width: 60%;
}

.todolist__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    background-color: var(--color-light);
    box-shadow: var(--shadow);
    border-radius: 5px;
}
.todolist__item + .todolist__item {
    margin-top: 20px;
}
.todolist__left {
    width: 60%;
}
.todolist__left,
.todolist__right {
    display: flex;
    align-items: center;
}
.todolist__status {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    background-color: var(--color-red);
    border-radius: 50%;
    margin-right: 20px;
}
.todolist__text {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.todolist__date {
    margin-left: 30px;
    margin-right: 40px;
}
.todolist__edit {
    margin-left: 30px;
}