.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 34px 25px;
}
.header__title {
    line-height: 1;
}
.todolist-form {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    margin: 0 30px;
}

.todolist-form__date {
    margin-right: 30px;
    padding: 10px 19px;
    border-width: 1px;
    border-style: solid;
    border-radius: 5px;
    background-color: var(--color-grayBg);
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.todolist-form_important {
    margin: 0 40px;
}
.todolist-form__input {
    width: 400px;
}
.todolist-form_button {
    cursor: pointer;
}

.main {
    display: flex;
    flex-grow: 1;
}
.sidebar {
    width: 100%;
    max-width: 220px;
}
.todolist__tasks {
    width: 100%;
    padding: 0 40px 30px;
    background-color: var(--color-grayBg);
}
.search {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}
.search__input {
    width: 60%;
}

.todolist__item {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px;
    background-color: var(--color-light);
    box-shadow: var(--shadow);
    border-radius: 5px;
}
.todolist__item + .todolist__item {
    margin-top: 20px;
}
.todolist__left {
    width: 60%;
}
.todolist__left,
.todolist__right {
    display: flex;
    align-items: center;
}
.todolist__status {
    width: 15px;
    height: 15px;
    flex-shrink: 0;
    background-color: var(--color-red);
    border-radius: 50%;
    margin-right: 20px;
}
.todolist__text {
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.todolist__date {
    margin-left: 30px;
    margin-right: 40px;
}
.todolist__edit {
    margin-left: 30px;
}

.account {
    position: relative;
}

.account__user {
    display: flex;
    align-items: center;
    font-size: 18px;
    color: var(--color-blue);
    cursor: pointer;
}
.account__user:before {
    content: "";
    display: block;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background-image: url("./../icons/user.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.account__user:after {
    content: "";
    display: block;
    width: 20px;
    height: 10px;
    margin-left: 10px;
    margin-top: 3px;
    background-image: url("./../icons/arrow-down.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: 0.3s;
}
.account__user.rotate-arrow:after {
    transform: rotate(180deg);
}

.account__dropdown {
    display: none;
    position: absolute;
    top: calc(100% + 5px);
    width: 100%;
    padding: 15px;
    background-color: var(--color-light);
    box-shadow: var(--shadow);
}
.account__dropdown-item {
    cursor: pointer;
}
.account__dropdown-item:hover {
    color: var(--color-red);
}
.account__dropdown.open {
    display: block;
}
