* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul, li {
    list-style: none;
}

input, button {
    font-family: inherit;
    font-size: 100%;
    cursor: pointer;
}
input {
    border: none;
    outline: none;
}

body {
    height: 100vh;
    background-color: #1C2452;
    color: #1C2452;

    display: flex;
    justify-content: center;
    align-items: center;
}

.active-tasks {
    width: 400px;
    margin-bottom: 10px;

    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
}

.active-tasks__head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;

    border-bottom: 2px solid #1C2452;
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0;

    border-bottom: 1px solid #1C2452;
}
.task-item:hover .task-item__delete-btn {
    opacity: 1;
    pointer-events: auto;
}

.task-item__delete-btn {
    opacity: 0;
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
}