body {
    background-color: var(--color-grayBg);
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
}

.auth-form {
    width: 500px;
    padding: 30px;
    background-color: var(--color-light);
    border-radius: 5px;
    box-shadow: var(--shadow);
}
.auth-form__title {
    text-align: center;
    margin-bottom: 15px;
}
.auth-form__input {
    width: 100%;
}
.auth-form__input + .auth-form__input {
    margin-top: 20px;
}
.auth-form__button {
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
}
.auth-form__new-user {
    text-align: center;
    margin-bottom: 15px;
}