.item {
    display: flex;
    align-items: center;

    padding: 5px;
    background-color: #82A1C1;
    border-radius: 5px;

    color: #fff;
    margin-right: 5px;
}
.item:last-child {
    margin-right: 0;
}
.item__delete-btn {
    width: 20px;
    height: 20px;
    margin-left: 10px;   

    font-size: 12px;
    color: #fff;
    
    border-radius: 50%;
    border: none;
    background-color: #292929;
    
    cursor: pointer;
}